# Copy this file to .env and update the values
# For MongoDB (used with Prisma), provide a MongoDB connection string.
MONGODB_URL=mongodb+srv://ainerachel50_db_user:PEOvpSnNksxHwt1v@cluster0.l1yzkd4.mongodb.net/?appName=Cluster0
NEXTAUTH_SECRET=super-secret-value
NEXTAUTH_URL=http://localhost:3000
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
